Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
golap/Makefile
golap/Makefile.in
golap/cmd/.deps/
golap/cmd/.libs/
golap/cmd/Makefile
golap/cmd/Makefile.in
golap/cmd/cregdb
golap/cmd/cregdb.o
golap/cmd/golap
golap/cmd/golap.o
golap/lib/.deps/
golap/lib/.libs/
golap/lib/Makefile
golap/lib/Makefile.in
golap/lib/btree.lo
golap/lib/btree.o
golap/lib/cmdcache.lo
golap/lib/cmdcache.o
golap/lib/cmn.lo
golap/lib/cmn.o
golap/lib/config.lo
golap/lib/config.o
golap/lib/filter.lo
golap/lib/filter.o
golap/lib/itematt.lo
golap/lib/itematt.o
golap/lib/libgolaplib1.la
golap/lib/occ.lo
golap/lib/occ.o
golap/lib/param.lo
golap/lib/param.o
golap/lib/traatt.lo
golap/lib/traatt.o
golap/mod/.deps/
golap/mod/.libs/
golap/mod/Makefile
golap/mod/Makefile.in
golap/mod/kgcregdb.lo
golap/mod/kgcregdb.o
golap/mod/kggolap.lo
golap/mod/kggolap.o
golap/mod/libgolapmod1.la
install-sh
libtool
ltmain.sh
missing

